<mat-card>
  <mat-card-title>Alterar Produto</mat-card-title>
  <form (ngSubmit)="updateProduct()" name="formData" [formGroup]="formData">
      <mat-form-field>
          <input matInput placeholder="Nome" [(ngModel)]="product.name" formControlName="name">
          <mat-error *ngIf="!formData.controls['name'].valid">
            Produto é obrigatório!
          </mat-error>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Preço (R$)" [(ngModel)]="product.price" formControlName="price">
          <mat-error *ngIf="!formData.controls['price'].valid">
            Preço é obrigatório!
          </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Categoria" [(ngModel)]="product.type" formControlName="type">
        <mat-error *ngIf="!formData.controls['type'].valid">
            Categoria é obrigatória!
          </mat-error>
      </mat-form-field>
      <div layout-gt-sm="row">
          <button mat-raised-button color="primary">
              Atualizar
          </button>
          <button mat-raised-button (click)="cancel()">
              Cancelar
          </button>
      </div>
  </form>
</mat-card>
